
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    font-size: 35px;
    font-family: "Atkinson Hyperlegible Mono", serif;
}

.main-header {
    position: fixed;
    width: 100%;
    background-color: #879183;
    color: white;
    text-align: center;
    padding: 70px;

}

.main-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #879183;
    color: white;
    text-align: center;
    padding: 30px;
    font-size: small
}


.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    padding-top: 60px; 
    padding-bottom: 40px; 
}


.split {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transition: background-color 0.3s ease;
}


.section-1 {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 60px;
}

.section-2 {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

.section-3 {
    background-color: #D2C6B2;
    color: #faf7e8;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 150px;
    text-align: center;
    font-size: 50px;
}

.section-4 {
    background-color: #EAE7D9;
    color: #9e9586;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 150px;
    text-align: center;
    font-size: 50px;
}


.section-5 {
    background-color: #5A483A;
    color: white;
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    text-align: center;
    font-size: 70px;
}

.divider {
    grid-column: span 2;
    width: 80%;
    margin: 0 auto;
    border: none;
    border-top: 1px solid #ccc;
}


.centered {
    text-align: center;
}

.centered img {
    width: 750px;
    border-radius: 50%;
}

.info-list {
    list-style-type: disc; 
    padding-left: 20px;
    text-align: left;
    margin-top: 10px;
    line-height: 1.6;
    color: inherit;
    font-size: x-large;
}


.hobby-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
    margin-top: 20px;
}

.hobby-box {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 500px;
    height: 300px;
}

.hobby-box h3 {
    font-size: 50px;
    padding: 10px;
    margin-bottom: 5px;
    color: #5A483A;
}

.hobby-box p {
    font-size: 25px;
    color: #5a483a;
}


